
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff5f5;
    background-image: url(bg1.avif);
}
    
   
   


header {
    background-color: rgba(134, 67, 4, 0.863);
    margin: 2px;
    color: white;
    padding-top:30px;
    position: fixed;
    width: 100%;
    top:0;
}
  
#home p{
    font-size:25px;
    text-align: center;
}


header h1 {
    margin: 2px;
    color:rgb(250, 246, 211);

    
    
}
h2{
    padding: 0;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 2px white;
    color: #fff9f9;
  
}
h3{
    text-align: center;
    font-size: 30px;
    
}



ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}

li {
    float: left;
    padding-left: 200px;
    
}

 li a, .dropbtn {
    display: inline-block;
    color:rgb(255, 230, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 0);
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(129, 61, 16);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color:  rgb(255, 230, 1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color:rgb(15, 15, 15);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.section {
    padding:100px;
    height: 100%;
    margin:25px;
    width:80%;
    border-radius:8px;
   
}

 .section h2 {
    margin-top:10px;
    padding-bottom:20px;
}
.section h3{
    clear: both;
    padding-top:20px;
    margin-top:50px;
    
}


.item {
    border:3px solid rgb(250, 248, 248);
    border-radius:3px;
    padding:40px;
    margin:20px;
    text-align: center;
    width:200px;
    float:left;
    margin-left:50px;
}


.item img {
    width:150px;
    height:150px;
    
}
.item img{
    opacity: 5;
}
p{
color: #f9c923;
}

.add {
     background-color:black;
     color:white;
     border:none;
     padding: 10px;
     cursor: pointer;
}
.add:hover{
    background-color: #f9c923;
}



form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top:10px;
}

input, textarea, button {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    background-color: #f3eaea;
    color:#0c0c0c;
    border: none;
    cursor: pointer;
}
p{
    text-align: center;
    font-size: 25px;
}
 
   



h5 {
    color: white;
    text-align: center;
    
}

.p1{
font-size: 10px;
}


.links {
    padding: 10px;
    text-align: center;
}

.h3 {
    font-size :20px;
    color: #f9c923;
    width:40;
}

.about p{
    color: #ddd;
    text-decoration: none;
}

.links a:hover {
    color: #f9c923;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 10px;
}

.links ul li a {
    color: #ddd;
}

.links ul li a:hover {
    color: #f9c923;
}

.links a {
    color: white;
    margin-right: 15px;
    font-size: 1.5;
    text-decoration: none;
   
}

.links a:hover {
    color: #f9c923;
}


